@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;

	display: flex;
	flex-direction: column;
}

/* core */
h1 {
	font-weight: 800;
	font-size: 60px;
	letter-spacing: 1.5px;
	text-transform: uppercase;

	margin: 0;
	margin-top: 9px;
}

h2 {
	font-weight: 700;
	font-size: 42px;
	letter-spacing: 0.42px;
	text-transform: uppercase;

	margin: 0;
	margin-top: 9px;
}

h3 {
	font-weight: 600;
	font-size: 30px;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}

h5 {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.32px;
	text-transform: uppercase;
}

p {
	font-weight: normal;
	font-size: 15.9953px;
	
	line-height: 28px;
}

hr {
	width: 134px;
	height: 1px;
	background-color: #FF2D2D;
}

input {
	width: 524px;
	height: 77px;
}

/* UI-kit */
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	border-radius: 2px;
}

.button.red {
	background-color: #FF2D2D;
	color: #FFF;
}

.button.white {
	border: 2px solid #FF2D2D;
	background-color: #fff;
	color: #FF2D2D;
}

.section-centering {
	max-width: 1249px;
	margin: 0 auto;
	display: flex;
}

.long-word {
	word-break: break-word;
}

/* Layout */
header {
	background-color: #313030;
	/*height: 89px;*/
	max-width: 1249px;
	margin: 29px auto 0 auto;
}

header a {
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;

	padding: 0 25px;
	height: 89px;
}

header a:hover {
	background-color: #FF2D2D;
}

header .menu-links {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	line-height: 89px;
}

main {
	flex-grow: 1;
}

footer {
	background-color: #313030;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 170px;
}


footer p {
	color: #B8B8B8;
}

/*  intro section*/
.header-wrapper,
.intro-section {
	background-color: #F6F2F2;
}

.intro-section .section-centering {
	justify-content: space-between;
	padding-top: 75px;
	padding-bottom: 108px;
}

.intro-text {
	max-width: 618px;
	margin: 0;
	flex: auto 1 1;
}

.intro-text  p {
	margin-top: 3px;
}

.btn-contact {
	margin-top: 46px;
	height: 55px;
	width: 227px;
}

.intro-img {
	flex: auto 1 1;
}

.intro-img a {
	display: block;
}

.intro-img img {
	max-width: 551px;
	max-height: 356px;
	width: 100%;
	padding-top: 28px;
	float: right;
}

/* services */
.services-section .section-centering {
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 82px;
	padding-bottom: 128px;
}

.service {
	width: 300px;
	flex: 300px 1 1;
}

.service:nth-child(odd) {
	margin-right: 5px;
}

.services-text {
	max-width: 540px;
	padding-bottom: 150px;
	margin-right: 30px;
}

.services-text p{
	padding-top: 15px;
}

.btn-more {
	margin-top: 84px;
	height: 55px;
	width: 227px;
}

.services-cards {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

/* products */
.products-section .section-centering {
	flex-direction: column;
	align-items: center;
	padding-top: 35px;
	padding-bottom: 15px;
	text-align: center;
}

.products-list {
	display: flex;
	flex-wrap: wrap;
	padding-top: 71px;
}

.product-text p {
	max-width: 536px;
	margin: 0 auto 25px;
}

.products-list li {
	margin: 0 15px;
	list-style: none;

	font-weight: 800;
	font-size: 22px;
	letter-spacing: 0.22px;
	text-transform: uppercase;
}

.product-images {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 37px;
}

.product-img {
	width: 301px;
	height: 293px;
	margin-right: 11px;
	margin-bottom: 21px;
}

/* Team */
.team-section .section-centering {
	flex-direction: column;
	padding-top: 75px;
	padding-bottom: 108px;
}

.team-section .section-centering hr {
	margin-left: 0;
}

.team-text p {
	max-width: 480px;
	margin-bottom: 61px;
}

.team-imgs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 61px;
	flex-shrink: 1;

}

.team-imgs p {
	max-width: 660px;
}

.team-img-main {
	width: 324px;
	height: 460px;
}

.social-list {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}

.social-list li {
	margin-right: 15px;
	list-style: none;
	font-style: initial;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 0.9px;
}

.team-img {
	width: 199px;
	height: 217px;
	padding-right: 5px;
	margin: 5px auto;
}

/* Subscribe */
.subscribe-section .section-centering {
	flex-direction: column;
	align-items: center;
	padding-top: 129px;
	padding-bottom: 137px;

	color: #fff;
}

.subscribe-text p {
	margin-top: 9px;
}

.subscribe-section .section-centering h2{
	text-transform: none;
}

.subscribe-section {
	background-color: #313030; 
}

.email-input {
	display: flex;
	justify-content: center;
	padding-right: 5px;
	margin-top: 40px;
}

.btn-subscribe {
	max-height: 82px;
	max-width: 217px;
	margin-left: 10px;
	border: none;
	text-transform: uppercase;
}

.social-img {
	width: 33px;
	height: 33px;
}

/* Contact */
.contact-section .section-centering {
	margin-top: 83px;
	flex-direction: column;
}

.contact-section .section-centering hr {
	margin-left: 0;
}

.contact-text p {
	max-width: 753px;
	margin-top: 30px;
	margin-bottom: 54px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	margin-right: 100px;
}

.contact-form input{
	background-color: #e5e5e5;
	width: 40%;
	height: 71px;
	border: none;
}

.contact-form input::placeholder{
	color: #000;
	font-size: 16px;
	padding: auto 53px;
}

.contact-form textarea::placeholder{
	color: #000;
	font-size: 16px;
	padding: 32px 53px;
}

.contact-form textarea{
	background-color: #e5e5e5;
	max-width: 734px;
	height: 252px;
	width: 100%;
	margin-bottom: 63px;
	border: none;
	resize: none;
}


.contact-info {
	display: flex;
	flex-direction: column;
	padding-bottom: 40px; 
	margin-top: 30px;
}

.contact-info-text {
	background-color: #313030;
	color: #fff;
	padding-left: 81px;
}

.name-mail {
	display: flex;
	justify-content: space-between;
	margin-bottom: 43px;
}

.contact-form button {
	max-width: 731px;
	width: 100%;
	height: 75px;
	border: none;
	text-transform: uppercase;
}

@media screen and (max-width: 1000px) {

	.section-centering {
		flex-wrap: wrap;
	}

	.intro-text {
		max-width: auto;
		margin: 0;
		flex: auto 1 1;
	}

	.intro-img img {
		padding-top: 28px;	
		float: none;
	}

	.services-section .section-centering {
		justify-content: center;
	}

	.services-cards {
		width: 70%;
	}

	.email-input {
		width: 70%;
	}
}

@media screen and (max-width: 400px) {

	h1 {
		font-weight: 700;
		font-size: 50px;
	}

	.team-imgs {
		justify-content: center;
	}
}

@media screen and (max-width: 300px) {
	
	.team-img-main {
		width: 100%;
		height: auto;
	}
}